<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9de3ab77-99d9-4b27-91c9-e3c3fad741c0" Alias="contentPage" Level="3">
  <Info>
    <HistoryCleanup />
    <DefaultTemplate>contentPage</DefaultTemplate>
    <AllowedTemplates>
  <Template Key="caf94425-2422-433c-ac7b-0f042b034a00">contentPage</Template>
</AllowedTemplates>
  </Info>
</ContentType>