<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1fac7af4-e830-445a-995d-58b37b04cbf5" Alias="homePage" Level="3">
  <Info>
    <HistoryCleanup />
    <DefaultTemplate>homePage</DefaultTemplate>
    <AllowedTemplates>
  <Template Key="2612120d-412a-4b4c-b829-aa779011ae5c">homePage</Template>
</AllowedTemplates>
  </Info>
</ContentType>