<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0aa8f9ed-8fa6-43fe-9329-ec13294b8055" Alias="formsBlock" Level="3">
  <Info>
    <Name>Forms Block</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Local/Blocks</Folder>
    <Compositions />
    <DefaultTemplate>FormsBlock</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0a20fc4f-cb83-4d96-b082-f23430b84dea">FormsBlock</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>dcc4dc4f-9124-4516-b7be-6239206e3f9f</Key>
      <Name>formPicker</Name>
      <Alias>formPicker</Alias>
      <Definition>a82a1cef-fc5a-44ac-a8ac-35f5af250dac</Definition>
      <Type>UmbracoForms.FormPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="data">Data</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>76209305-01f6-4e9f-897f-6d71e208dfc2</Key>
      <Caption>Data</Caption>
      <Alias>data</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>