<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="efbad284-d655-44ab-bcba-4cb5369f3976" Alias="articlePage" Level="3">
  <Info>
    <Name>Article page</Name>
    <Icon>icon-newspaper</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Local/Pages</Folder>
    <Compositions />
    <DefaultTemplate>articlePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ab359db2-43a3-414e-be9e-af5f8a3db258">articlePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2f1e6a44-a85e-416b-9ecb-2fdf80243494</Key>
      <Name>Articles</Name>
      <Alias>articles</Alias>
      <Definition>39c1f222-834c-4300-8327-e150d1d80c54</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b4996df7-75eb-41e5-9e38-ebf4a78a832a</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>