<?xml version="1.0" encoding="utf-8"?>
<Content Key="c22fc8c7-e2fb-4cdc-acc8-c1188e5d9aa2" Alias="Article template" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ArticleTemplate</Path>
    <Trashed>false</Trashed>
    <ContentType>articlePage</ContentType>
    <CreateDate>2025-04-02T12:06:01</CreateDate>
    <NodeName Default="Article template" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <canonicalLink>
      <Value><![CDATA[]]></Value>
    </canonicalLink>
    <disableRedirect>
      <Value><![CDATA[]]></Value>
    </disableRedirect>
    <headline>
      <Value><![CDATA[Lorem Ipsum]]></Value>
    </headline>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <noFollow>
      <Value><![CDATA[]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[]]></Value>
    </noIndex>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <redirectUrl>
      <Value><![CDATA[]]></Value>
    </redirectUrl>
    <schemaMarkup>
      <Value><![CDATA[]]></Value>
    </schemaMarkup>
    <statusCode>
      <Value><![CDATA[]]></Value>
    </statusCode>
  </Properties>
</Content>