<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7e39353b-b910-4182-aa6b-ee1eb366b11e" Alias="Redirect Status Code Dropdown" Level="1">
  <Info>
    <Name>Redirect Status Code Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "301 Permanently Moved",
    "302 Temporarily Moved"
  ]
}]]></Config>
</DataType>