<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f52240d7-f579-4dae-8256-d716d498872e" Alias="Shared Rich Text" Level="2">
  <Info>
    <Name>Shared Rich Text</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
    <Folder>Shared+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "maxImageSize": 500,
  "mode": "Classic",
  "toolbar": [
    "styles",
    "bold",
    "italic",
    "alignleft",
    "aligncenter",
    "alignright",
    "alignjustify",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "subscript",
    "superscript",
    "link",
    "sourcecode",
    "umbmediapicker",
    "umbembeddialog"
  ]
}]]></Config>
</DataType>