<?xml version="1.0" encoding="utf-8"?>
<DataType Key="39c1f222-834c-4300-8327-e150d1d80c54" Alias="Shared Article List Builder" Level="2">
  <Info>
    <Name>Shared Article List Builder</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Shared+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "c5c08deb-e604-47e8-9085-a62fd4ff62c1"
    }
  ],
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>