<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1a758c11-a248-4438-928a-fd87994a69ab" Alias="Shared Block Grid" Level="2">
  <Info>
    <Name>Shared Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
    <Folder>Shared+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "blockGroups": null,
  "blocks": [
    {
      "contentElementTypeKey": "04940475-62d6-4054-bdab-a2694c3bffd9",
      "allowAtRoot": true,
      "allowInAreas": true,
      "groupKey": "524d94ce-f88e-4b3a-be4a-56d80bbf7ef0"
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>